body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: wheat;
    margin:0px;
    * {
          box-sizing:border-box
      }

.whole-enchalada {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color:chocolate;
}
    
    .sidebar {
        background-color:black;
    }
    .sidebar ul {
        display:flex;
        flex-direction:column;
        align-items:stretch;
        margin:0px;
        padding:0px;
        background-color:lightpink;
    }
    .sidebar li {
        
        list-style-type: none;
        margin:0px;
        padding:0px;
        
     
    }
    .sidebar a {
        text-decoration: none;
        display:block;
        font-size:1.5em;
        color: #2196F3;
        padding:5px;
        background-color:aquamarine;
    }
    .sidebar li a:hover:not(.current) {
        background-color:darkorange;
        color:ghostwhite;
    }
    .sidebar li a.current {
        background-color:#2196F3;
        color:aquamarine;
        
    }
    div.head {
        flex:content;
        text-align:center;
        font-size:1.5em;
        /*background-color:rebeccapurple;*/
        margin:0px;
        padding:0px;
        
    }
    .mid {
        grid-area: mid;
        font-size:1.5em;
    }
    iframe {
        grid-area: vid;
        width:60%;
        height: auto;
    }
    .mcgriddle {
        display:grid;
        gap:10px;
        grid-template-areas:
            'photo main main main main'
            'mid mid mid vid vid'
            'foot foot foot foot foot';
        padding:0px;
        margin:0px;
        
    }
    .snapper {
        grid-area: photo;
        margin: 0px;
        padding:10px;
    }
    hr.pickbk {
        border:5px solid hotpink;
       
    }
    img {
        width: 70%;
        max-height: auto;
    }
    .main {
        grid-area:main;
              font-size: 1.625em;
        
        padding: 10px;
    }
    footer {
        grid-area:foot;
        text-align:center;
        background-color:coral;
        
    }

    }
    @media only screen and (max-width: 600px) {
        .whole-enchalada {
            background-color: yellow;
            justify-content: center;
        }
        .sidebar {
            width:100%;
        }
        .sidebar ul {flex-direction:row;
                     justify-content:space-evenly;
                     text-align:center;
        }
        .sidebar li {width:100%;}
        .mcgriddle {
            grid-template-areas:
                'main'
                'photo'
                'mid'
                'vid'
                'foot';
        }
}
